* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    padding: 2%;
    justify-content: space-between;
}

header ul {
    display: flex;
    justify-content: center;
    padding: 5%;
}